@import '@material/textfield/mdc-text-field.scss';

mdc-text-field {
    display: block; // very important otherwise the browser does not know the display type

    .mdc-text-field {
        width: 100%;
        background-color: transparent;
    }
    
    .mdc-text-field-helper-text {
        padding-bottom: 6px;
    }

    .mdc-text-field-helper-text--validation-msg {
        color: red !important;
    }
}