@use "../variables";
@use '@material/textfield/mdc-text-field';
@use "@material/textfield/helper-text";

@include helper-text.helper-text-core-styles;

mdc-text-field {
    display: block; // very important otherwise the browser does not know the display type

    .mdc-text-field {
        width: 100%;
        background-color: transparent;
    }
}
