@use "../variables";
@use "@material/select/mdc-select";
@use "@material/list/mdc-list";
@use "@material/menu/mdc-menu";
@use "@material/menu-surface/mdc-menu-surface";

mdc-select {
  display: block;

  > div {
    width: 100%;
  }

  .mdc-select__width {
    width: 100%;
  }

  .mdc-select-helper-text {
    padding-bottom: 6px;
  }

  .mdc-select-helper-text--validation-msg {
    color: red !important;
  }
}
