@import "@material/elevation/mdc-elevation.scss";

html,
body {
    margin: 0;
}

main {
    padding: 8px;
}

form {
    margin: 8px;
    width: 640px;

    div.tab-content {
        height: 360px;
        div.input-row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            margin: 8px;

            .info {
                color: green;
                flex: 40% 1 1;
            }

            .value {
                color: green;
                flex: 20% 1 1;
            }

            mdc-text-field,
            mdc-slider,
            mdc-switch,
            mdc-select,
            mdc-checkbox {
                flex: calc(40% - 16px) 1 1;
                padding-right: 16px;
                height: auto;
            }
        }
    }
}

.errors {
    color: red;
}

.errors,
.action {
    flex: calc(40% - 16px) 1 1;
    padding-right: 16px;
    height: auto;
}
